html {
background: #dbdfdd
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 218, 230);
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
}

h1 {
font-size: 3em;
margin: 0;
}
h3 {
    font-size: 2em;
    margin: 0;
    position:relative; right:56px; border-top:56px;
}
h4 {
font-size: 2em;
margin: 0;
position:relative; right:56px; border-top:56px;
}

p {
line-height: 1.4em;
}

h2 {
line-height: 1.4em;
}

#blog {
    border-top: 1px dotted rgb(97, 97, 97);
}

.blog-post {
    border-bottom: 1px dotted rgb(97, 97, 97);
}

td {
    color:#6b6a6d
}
tr {
    color: #6b6a6d
}

img {
    border: 5px solid #6579ee
}
.sticky, position-demo {
    color: rgb(0, 0, 0);
    padding: 20px;
  }
  
  .sticky {
    background: rgb(255, 255, 255);
  }
  .position-demo {
    background: rgb(255, 255, 255);
    position: static;
    top: 20px;
    left: 20px;
  }
    .img-container {
        background: rgb(40, 40, 196);
        height: 50px;
        width: 50px;
        float: left;
        margin-right: 10px;
    }
   body {
       color: rgb(0, 0, 0)
   }

    header {
        background: rgb(255, 255, 255);
    }

    section {
        background:rgb(221, 224, 231);
        display: flex;
    }

    article {
        background:rgb(139, 126, 126)
        padding 20px;
        margin: 20px;

    }

    footer {
        background:rgb(255, 253, 253)
    }